<launch>
<master auto="start"/>
<node pkg="roslisp" type="talker-test" name="talker-test" />
<node pkg="roslisp" type="listener-test" name="listener-test" />
<node pkg="roslisp" type="complex-talker-test" name="complex-talker-test" />
<test test-name="cpp-tester" pkg="roslisp" type="cpp-tester"/>
</launch>
