<launch>
  <node name="talker" pkg="rospy_tutorials" type="talker.py" />
  <node name="a2i_server" pkg="rospy_tutorials" type="add_two_ints_server" />
  <node name="test_client_ch" pkg="rospy_tutorials" type="test_client_connection_header.py" args="--node"/>

  <test test-name="listener_connection_header" pkg="rospy_tutorials" type="test_listener_connection_header.py" />
  <test test-name="client_connection_header" pkg="rospy_tutorials" type="test_client_connection_header.py" />
  <test test-name="server_connection_header" pkg="rospy_tutorials" type="test_server_connection_header.py" />
</launch>
