<!-- an example launch configuration that launches two demo nodes on a remote machine -->
<launch>

  <group ns="local">
    <node name="talker" pkg="test_ros" type="talker.py" />
    <node name="listener" pkg="test_ros" type="listener.py" />
  </group>

  <!-- default only affects nodes defined later -->
  <machine name="machine-1" default="true" address="localhost" ros-root="/u/kwc/sf/ros/" user="kwc2" ssh-port="2222" />

  <group ns="remote">
    <node name="talker" pkg="test_ros" type="talker.py" />
    <node name="listener" pkg="test_ros" type="listener.py" />
  </group>

</launch>
