<launch>
  <node name="talker" pkg="rospy" type="talker.py" />
  <node name="listener" pkg="rospy" type="listener.py" />

  <param name="param1" value="bar" />
  <param name="param2" value="2"/>
  
  <!-- you can set parameters in child namespaces -->
  <param name="wg2/param3" value="a child namespace parameter" />  
  
  <group ns="wg2">
      <param name="param4" value="4" />
      <node name="talker" pkg="rospy" type="talker.py" />
      <node name="listener" pkg="rospy" type="listener.py" />
  </group> 
  
</launch>
