<!-- an example launch configuration that launches two demo nodes on a remote machine -->
<launch>

  <group ns="local">
    <node name="talker" pkg="rospy" type="talker.py" />
    <node name="listener" pkg="rospy" type="listener.py" />
  </group>

  <!-- default only affects nodes defined later -->
  <machine name="machine-1" default="true" address="foo.bar.com" env-loader="/opt/ros/fuerte/env.sh" user="whoami" ssh-port="22" />

  <group ns="remote">
    <node name="talker" pkg="rospy" type="talker.py" />
    <node name="listener" pkg="rospy" type="listener.py" />
  </group>

</launch>
