<package>
  <description brief="%(brief)s">

     %(description)s

  </description>
  <author>%(author)s</author>
  <license>BSD</license>
  <review status="unreviewed" notes=""/>
  <url>http://ros.org/wiki/%(package)s</url>
%(depends)s
</package>
