<stack>
  <description brief="%(brief)s">%(description)s</description>
  <author>%(author)s</author>
  <license>%(licenses)s</license>
%(review)s
  <url>http://ros.org/wiki/%(stack)s</url>
%(depends)s
</stack>
